// INICIO HORARIOS
// Inicio horario 1
.img__horario1 {
	@extend .contenedor__horario1;
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: url(../img_horarios/horario_1.jpg);
    width: 800px;
    height:600px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.contenedor__horario1 {
	margin: 0 auto;
	margin-bottom: 6.25em;
}
// Fin horario 1

// Inicio horario 2
.img__horario2 {
	@extend .contenedor__horario2;
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: url(../img_horarios/horario_2.jpg);
    width: 800px;
    height:600px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.contenedor__horario2 {
	margin: 0 auto;
	margin-bottom: 6.25em;
}
// Fin horario 2

// Inicio horario 3
.img__horario3 {
	@extend .contenedor__horario3;
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: url(../img_horarios/horario_3.jpg);
    width: 800px;
    height:600px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.contenedor__horario3 {
	margin: 0 auto;
	margin-bottom: 6.25em;
}
// Fin horario 3

// Inicio horario 4
.img__horario4 {
	@extend .contenedor__horario4;
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: url(../img_horarios/horario_4.jpg);
    width: 800px;
    height:600px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.contenedor__horario4 {
	margin: 0 auto;
	margin-bottom: 6.25em;
}
// Fin horario 4
// FIN HORARIOS